.footer-bg {
  padding: 30px;
  background: var(--gradient-1);
}

.footer-flex {
  display: grid;
  grid-template-columns: 1fr auto;
  justify-content: space-between;
  align-items: center;
}

.footer-flex p {
  font-size: var(--font-size1);
  color: var(--color-2);
}

.footer-flex p > span {
  font-family: "Playfair Display", Roboto, Segoe UI, sans-serif;
}

.footer-itens div:first-child {
  margin-bottom: 15px;
}

.footer-itens a {
  display: grid;
  grid-template-columns: auto 1fr;
  color: var(--color-2);
  align-items: center;
  gap: 10px;
}

.footer-itens a:hover {
  color: var(--color-p6);
}

@media (max-width: 700px) {
  .footer {
    height: 100px;
  }
  .footer-flex {
    grid-template-columns: 1fr;
    align-items: center;
    text-align: center;
  }
  .footer-flex p {
    margin-bottom: 20px;
  }
  .footer-itens {
    display: grid;
    grid-template-columns: auto 1fr;
    justify-self: center;
    gap: 20px;
  }
}

@media (max-width: 479px) {
  .footer-bg {
    padding: 20px;
  }
  .footer-flex p {
    font-size: var(--font-size-1);
  }
  .footer-itens a {
    font-size: var(--font-size-1);
  }
}

