.superinfo-bg {
  background: var(--color-p1);
  color: var(--color-1);
}

.superinfo {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-top: 10px;
}

.superinfo p,
.superinfo a {
  margin: 0 10px 10px 10px;
}

.superinfo a {
  color: var(--color-1);
}

@media (max-width: 600px) {
  .superinfo {
    justify-content: center;
  }
}