:root {
  --color-1: #FAF5F6;
  --color-2: #fffcfc;
  --color-p1: #330606;
  --color-p2: #733236;
  --color-p3: #995458;
  --color-p4: #B26A6F;
  --color-p5: #E9AEB8;
  --color-p6: #dfc0c2;
  --gradient-1: linear-gradient(115deg, #b26a6f 0%, #995458 50%);
  --gradient-2: radial-gradient(circle, #faf5f6 0%, #fffcfc 90%, #eadcdd 100%);
  --font-size-1: 0.875rem;
  --font-size0: 1rem;
  --font-size1: 1.25rem;
  --font-size2: 1.5rem;
  --font-size3: 2.25rem;
  --font-size4: 3rem;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Roboto", Segoe UI, Helvetica, sans-serif;
  background: var(--gradient-2);
}

img {
  display: block;
  max-width: 100%;
}

a {
  text-decoration: none;
  color: inherit;
}

* {
  box-sizing: border-box;
}

.maxwidth {
  max-width: 940px;
  margin: 0 auto;
}
