.produtos {
  margin: 60px auto;
}

.produtos h1 {
  font-size: var(--font-size4);
  margin: 0 10px 60px 10px;
}

.produtos-container {
  display: flex;
  flex-wrap: wrap;
  align-items: end;
}

.produtos-item {
  flex: 1 1 175px;
  margin: 10px;
  border-radius: 5px;
}

.produtos-item img{
  border-radius: 0px 0px 5px 5px;
}

.produtos-item h2 {
  font-size: var(--font-size4);
  color: var(--color-3);
  background: var(--color-2);
  padding: 60px 20px;
  transition: color .3s;
}

.purple {
  border-top: 8px solid var(--other-color3);
}

.pink {
  border-top: 8px solid var(--other-color1);
}

.blue {
  border-top: 8px solid var(--other-color2);
  align-items: flex-end;
}

.produtos-item:nth-of-type(3n+1) h2:hover {
  color: var(--other-color1);
}

.produtos-item:nth-of-type(3n+2) h2:hover {
  color: var(--other-color2);
}

.produtos-item:nth-of-type(3n+3) h2:hover {
  color: var(--other-color3);
}